body{
    background: #FA9884;
}

/*.blue-border{
    border: 1px dotted blue;
}*/

.bg1{
    background-color: #FA9884;
    border-bottom: 8px solid #FA9884;
}

.img1{
    display: block;
    width: 300px;
    height: 300px;
    border: 3px solid #FFE5CA;
    border-radius: 50%;
}

.title1{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.a1{
    text-align: center;
    margin-bottom: 10px;
    margin-top: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.a2{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 8px;
    font-family: Arial, Helvetica, sans-serif;
}

.tt{
    background: #FFE5CA;
    height: fit-content;
    width: fit-content;
    padding: 10px;
    margin-top: 90px;
    font-size: larger;
    border-radius: 8%;
}

.content{
    background-color: #FFF3E2;
    height: fit-content;
    width: fit-content;
    padding: 10px 50px;
    font-size: x-large;
    text-align: center;
    margin: 0px auto;
    display: flex;
    justify-content: space-around;
}

.p1{
    text-align: justify;
    width: 650px;
    margin-left: auto;
    margin-right: auto;
}

.img2{
    width: 500px;
    height: 500px;
    margin-top: 70px;
    margin-left: 30px;
}

.link{
    font-size: x-large;
    text-align: center;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    background-color: #FFF3E2;
}